/*
  Roundcube.net CSS hacks for Internet Explorer 6
  Version 1.0
*/

body {
	font-size: 9pt;
	margin-top: 0px;
}

p {
	margin: 1em 0;
}

ul {
	margin: 1em 0 0.3em 1.4em;
}

img.pngimage {
	behavior: url('pngbehavior.htc');
}


.topshadow, .leftshadow, .rightshadow {
	background: none;
}

#homescreenshadow {
	display: none;
}

#homescreenshot {
	border: 1px solid #ccc;
	top: 14px;
	left: 25px;
}

.floatingcol {
	float: none;
}

#footer a,
#footer a:visited {
	text-decoration: underline;
	border: 0;
}
