html, body {
  height: 100%;
}

a.anchor {
  display: block;
  position: relative;
  top: -6rem;
  visibility: hidden;
}

#banner {
  margin-top: 66px;
  padding: 15px 0;
}

main {
  padding-top: 6rem;
  padding-bottom: 2rem;
  min-height: 100%;
  height: auto;
  margin-bottom: -250px;
}

#banner {
  text-align: center;
  background-color: #c6e6f4;
}

.artical-list > .artical:nth-child(even),
ul.ul-striped li:nth-child(even){
  background-color: #f5f5f5;
}

ul.donateinline {
  list-style: none;
}

ul.donateinline li {
  list-style: none;
  float: left;
  margin-right: 2rem;
}

ul.tags {
  list-style: none;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul.tags li {
  float: left;
  margin: 0.5rem;
}

ul.screens {
  list-style: none;
  padding: 0;
  width: 100%;
}

ul.screens li {
  display: inline-block;
  margin: 0.5rem;
}

#viewer > .modal-dialog {
  max-width: 650px;
}

#viewer .modal-body {
  padding: 0;
}

.artical {
  padding: 10px;
  margin-bottom: 1rem;
}

.artical > div.title > h3 > a {
  color: #444;
  margin-right: 1rem;
}

.artical > div.title > h3,
.artical > div.snippet > p {
  display: inline;
}

.footer {
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
  padding-top: 2rem;
}

.footer ul,
.footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  font-weight: 500;
  color: #495057;
}

.footer a:focus,
.footer a:hover {
  color: #007bff;
}

a.backlink {
  display: block;
  margin-top: 3rem;
}

a.back-link::before,
a.tag-link::before,
a.read-link::after,
a.external-link::after,
a.rss-link::after,
a.asc-link::after,
a.irc-link::after {
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

a.back-link::before {
  margin-left: 0;
  margin-right: 5px;
  content: "\f100";
}

a.tag-link::before {
  margin-left: 0;
  margin-right: 5px;
  content: "\f02b";
}

a.read-link::after {
  content: "\f101";
}

a.external-link::after {
  content: "\f35d";
}

a.rss-link::after {
  content: "\f09e";
}
/*
a.asc-link::after {
  content: "\f084";
}
*/
a.irc-link::after {
  content: "\f086";
}

@media (max-width: 767px) {
  div.right-col {
    padding-top: 2rem;
  }
}
