/*
  Roundcube.net site styles
  Version 1.0
*/

body {
	background: url('../images/bg_gradient.jpg') top center repeat-x #e3e3e3;
	font-family: Georgia, serif;
	font-size: small;
	color: #333;;
}

a, a:active, a:visited {
	color: #930F09;
	border-width: 0;
}

a.blind, a.blind:visited {
	text-decoration: none;
	border: 0;
}

a.strong {
	font-weight: bold;
}

img {
	border: 0;
}

h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 15pt;
	margin: 1em 0 0.5em 0;
}

h2 {
	font-size: 12pt;
	margin: 1.5em 0 0.2em 0;
}

h2.logotitle {
    margin-bottom: 0;
}

h3 {
	font-size: small;
	margin: 0.8em 0 0.2em 0;
}

ul {
	padding: 0;
	margin: 1em 0 0.3em 1.2em;
	/* list-style: none; */
}

li:before {
	/* content:'• '; */
}

ol.faq {
	padding: 0;
	margin: 1.2em 0 2em 1.8em;
}

ol.faq li
{
	margin-bottom: 0.5em;
}

hr {
	height: 1px;
	color: #ccc;
}

blockquote {
	position: relative;
	margin-left: 35px;
	margin-right: 35px;
}

blockquote.bodytext {
	width: 35em;
}

.bqstart {
	position: absolute;
	left: -40px;
	top: 15px;
	font-size: 500%;
	color: #930F09;
}

.bqend {
	position: absolute;
	right: -15px;
	bottom: -15px;
	font-size: 500%;
	color: #930F09;
 }

#main {
	position: relative;
	width: 820px;
	margin: 22px auto;
	border: 1px solid #ccc;
}

#header {
	position: relative;
	background: url('../images/bg_header.png') top right #fdfdfd;
	height: 80px;
	padding: 4px 18px 0 18px;
}

#mainnav {
	position: absolute;
	top: 28px;
	right: 18px;
}

#mainnav a,
#mainnav a:visited {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	padding: 2px 0 2px 1em;
	text-decoration: none;
}

#mainnav a:hover {
	color: #666;
	text-decoration: underline;
}

#mainnav a.active,
#mainnav a.active:hover,
#mainnav span.active {
	color: #0ca61e;
}

#rightcol {
	position: absolute;
	top: 4em;
	right: 18px;
	width: 255px;
}

#rightcol h1 {
	margin-top: 0;
}

#homescreen {
	position: relative;
	top: 0px;
	left: 0px;
	min-height: 560px;
}

#homescreenshot {
	position: absolute;
	top: 19px;
	left: 26px;
}

#homescreenshotv10 {
	position: absolute;
	top: 0px;
	left: -60px;
}

#homescreenmirror {
	position: absolute;
	top: 366px;
	left: 26px;
}

#homecambaignbanner {
	position: absolute;
	top: 385px;
	left: -27px;
	width: 550px;
}

#homenewsheadlines {
	position: relative;
	top: 440px;
	width: 520px;
	margin-bottom: 2em;
}

#homenewsheadlines h2 {
	margin-bottom: 1em;
}

.newsheadlines td {
	padding: 2px;
}

.newsheadlines td.newsdate {
	padding-right: 1em;
}

#releasedbadge {
	position: absolute;
	top: 110px;
	left: -65px;
	width: 92px;
	height: 92px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url('../images/released_badge.png') top left no-repeat;
	padding: 25px 12px 12px 14px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 12px;
	color: #fff;
}

#releasedbadge .caps {
	text-transform: uppercase;
	font-size: 11px;
}

#bodycontent {
	position: relative;
	background: white;
	min-height: 460px;
	padding: 0.1em 20px 1em 20px;
}

#footer {
	margin-top: 2em;
	padding: 2em 0 1.5em 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: #999;
	background: url('../images/bg_footer.png') top left repeat-x #f6f6f6;
}

#footer span {
	padding-right: 0.6em;
}

#footer a,
#footer a:visited {
	color: #666;
	text-decoration: none;
	border-bottom: 1px dotted #666;
}

#footer a:hover {
	border-bottom: 1px solid #666;
}

.topshadow {
	position: absolute;
	top: -9px;
	left: -1px;
	background: url('../images/shadows.png') top left repeat-x;
	width: 822px;
	height: 9px;
}

.leftshadow {
	position: absolute;
	top: -9px;
	left: -15px;
	background: url('../images/shadows.png') 0 -9px no-repeat;
	width: 15px;
	height: 640px;
}

.rightshadow {
	position: absolute;
	top: -9px;
	right: -15px;
	background: url('../images/shadows.png') -17px -9px no-repeat;
	width: 15px;
	height: 640px;
}

.bodytext {
	width: 38em;
	line-height: 1.4em;
}

#bodycontent li {
	line-height: 1.4em;
	padding-bottom: 0.1em;
}

.floatingcol {
	float: left;
	width: 250px;
	margin-right: 15px;
}

.floatingcol > h2 {
	margin-top: 0.5em;
}

.infobox {
	padding: 0.5em 0.8em;
	border: 2px solid #0ca61e;
	background: #f3f3f3;
}

.rightboxgray {
	position: relative;
	width: 255px;
	height: 314px;
	overflow: hidden;
	padding: 15px 15px 10px 15px;
	background: url('../images/rightbox_gray.jpg') top left no-repeat;
}

.rightboxgray h2 {
	color: #eee;
	margin-top: 0em;
}

.adboxtext {
	color: white;
	font-size: 90%;
	width: 90%;
}

.downloadButton,
.downloadButton:visited {
	display: block;
	width: 150px;
	text-align: center;
	padding: 26px 0 6px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #ddd;
	text-decoration: none;
	background: url('../images/button_download.png') top left no-repeat;
}

.poweredby {
	color: #999;
	font-size: 10px;
	margin-bottom: 4px;
}

#rightcol p.poweredby {
	margin-top: 3em;
}

.donatebuttons form {
	display: inline-block;
	margin-right: 1.5em;
	vertical-align: baseline;
}

.newsitem {
	margin: 1em 0 1.5em 0;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #ccc;
}

.newsitem h2 {
	margin-top: 0.5em;
	font-size: 110%;
}

.newsitem h2 a,
.newsitem h3 a {
	text-decoration: none;
}

.newsitem h2 a:hover,
.newsitem h3 a:hover {
	text-decoration: underline;
}

.newsdate {
	color: #999;
	font-size: 90%;
	font-style: italic;
}

p.pagination {
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination .right {
	float: right;
}

.rightbox .newsitem {
	margin: 0.5em 0 1em 0;
	border-bottom: none;
}

.rightbox .newsitem h3 {
	margin: 0.2em 0 0.2em 0;
}

.rightbox p.newstext {
	margin: 0;
}

.inboxtitle {
	background: url('../images/mailicon.png') top right no-repeat;
	padding-right: 60px;
	height: 38px;
}

.rightbox {
	margin-bottom: 20px;
}

.rightboxtop {
	width: 100%;
	height: 8px;
	background: url('../images/rightbox_top.gif') top right no-repeat;
}

.rightboxbottom {
	width: 100%;
	height: 8px;
	background: url('../images/rightbox_bottom.gif') top right no-repeat;
}

.rightboxcontent {
	min-height: 130px;
	padding: 8px 15px;
	line-height: 1.3em;
	background: url('../images/rightbox_gradient.gif') top left repeat-x #eaeaea;
}

.rightboxcontent > h1 {
	font-size: 11pt;
	margin-top: 0.1em;
}

.rightboxcontent > h2 {
	font-size: small;
}

.rightboxcontent > h2:first-child {
	font-size: small;
	margin-top: 0.1em;
}

ul.narrow {
	margin-top: 0.5em;
}

ul.inline {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

ul.inline li {
	display: inline-block;
	padding: 0 0.5em 0 0.1em;
	margin: 0;
	line-height: 14px;
}

li.rightboxlink {
	padding: 0.1em 0;
}

.tablebox {
	width: 783px;
}

.tableboxtop {
	width: 100%;
	height: 8px;
	background: url('../images/table_box_top.gif') top left no-repeat;
}

.tableboxbottom {
	width: 100%;
	height: 8px;
	background: url('../images/table_box_bottom.gif') top left no-repeat;
}

.tableboxcontent {
	color: white;
	min-height: 280px;
	padding: 8px 15px;
	background: url('../images/table_box_gradient.gif') top left repeat-x #848484;
}

.tableboxcontent a {
	color: #ddd;
}

.dltable {
	width: 100%;
	border-collapse: collapse;
}

.dltable td {
	color: white;
	text-align: left;
	vertical-align: bottom;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.4em 1em 0.4em 0.6em;
	border: 1px solid #999;
}

.dltable thead tr {
	background: #c9e9ff;
}

.dltable thead td {
	color: #333;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
}

.dltable tr.odd {
	background: #828282;
}

.dltable tr.even {
	background: #686868;
}


.dltable tbody td.dlchecksum {
	font-family: monospace;
	font-size: 1em;
}

.dltable td.dlbutton {
	padding: 4px 6px 3px 6px;
	border-left: none;
	text-align: right;
}

.dltable td.dlversion {
	width: 11em;
	border-right: none;
}

#screenview {
	position: relative;
	margin: 8px 48px;
}

#screenimage {
	position: absolute;
	top: 2px;
	left: 3px;
	background: #ebebeb;
}

#arrowprev,
#arrownext {
	position: absolute;
	display: block;
	width: 18px;
	height: 31px;
	top: 220px;
	left: 30px;
	background: url('../images/screen_arrows.gif') top left no-repeat;
}

#arrowprev {
	display: none;
}

#arrownext {
	left: 735px;
	background-position: -19px 0;
}

#thumbscroller {
	position: relative;
	width: 658px;
	height: 130px;
	margin: 10px 45px 0 45px;
	overflow: hidden;
}

#screenthumbs {
	position: absolute;
	width: 20000em;
	clear: both;
}

#screenthumbs div { 
	float: left;
	width: 132px;
	height: 130px;
	cursor: pointer;
	text-align: center;
}

#screenthumbs div img.thumbnail {
	border: 4px solid transparent;
}

#screenthumbs div.active img.thumbnail {
	border-color: #333;
}

#screenthumbs .reflection {
	position: relative;
	left: 6px;
	top: -4px;
	width: 120px;
	height: 32px;
	overflow: hidden;
}

.rightboxgray .reflection img,
#screenthumbs .reflection img {
	-webkit-transform: scaleY(-1);
	   -moz-transform: scaleY(-1);
	    -ms-transform: scaleY(-1);
	     -o-transform: scaleY(-1);
	        transform: scaleY(-1);
	filter: flipv; opacity:0.20;
	filter: alpha(opacity='20');
}

.rightboxgray .reflection .overlay,
#screenthumbs .reflection .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	height: 32px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0ODQ4NCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NDg0ODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(132,132,132,0) 0%, rgba(132,132,132,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(132,132,132,0)), color-stop(100%, rgba(132,132,132,1)));
	background: -webkit-linear-gradient(top, rgba(132,132,132,0) 0%, rgba(132,132,132,1) 100%);
	background: -o-linear-gradient(top, rgba(132,132,132,0) 0%, rgba(132,132,132,1) 100%);
	background: -ms-linear-gradient(top, rgba(132,132,132,0) 0%, rgba(132,132,132,1) 100%);
	background: linear-gradient(to bottom, rgba(132,132,132,0) 0%, rgba(132,132,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00848484', endColorstr='#848484', GradientType=0);
}

.rightboxgray .reflection {
	position: relative;
	width: 224px;
	height: 58px;
	left: 0;
	top: -2px;
	overflow: hidden;
	z-index: 1;
}

.rightboxgray .reflection .overlay {
	width: 224px;
	height: 58px;
}

.rightboxgray .adboxtext {
	position: relative;
	z-index: 3;
}

#screenthumbs div p.tooltip {
	position: relative;
	top: -32px;
	display: none;
	width: 130px;
	color: white;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;;
}

#screenthumbs div.hover p.tooltip {
	display: block;
}

/* home page styles */

body.home {
	background: url('../images/bg_home.jpg') top center repeat-x white;
}

body.home #main {
	width: 785px;
	margin: 25px auto;
	border: 0;
}

body.home #header {
	background: transparent;
	height: auto;
	padding: 0;
}

body.home #mainnav {
	top: 25px;
	right: 0px;
}

body.home #rightcol {
	top: 80px;
	right: 0px;
	width: 243px;
}

body.home #footer {
	background: transparent;
	padding-left: 0;
}

.newtag {
	color: #d00;
	font-size: 0.85em;
	font-style: italic;
	font-weight: bold;
	padding-left: 0.5em;
}

.btn,
.btn:visited {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.btn-download,
.btn-download:visited {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  background-color: #79bb1c;
  *background-color: #61a402;
  background-image: -moz-linear-gradient(top, #85cb20, #61a402);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#85cb20), to(#61a402));
  background-image: -webkit-linear-gradient(top, #85cb20, #61a402);
  background-image: -o-linear-gradient(top, #85cb20, #61a402);
  background-image: linear-gradient(to bottom, #85cb20, #61a402);
  background-repeat: repeat-x;
  border-color: #addd67 #4d8101 #4d8101 #addd67;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.btn-download:active {
	color: #fff;
	border-width: 1px;
	background: #61a402 !important;
}

.btn-download .caps {
	display: inline-block;
	text-transform: uppercase;
	padding: 6px 8px;
}

.btn-download .topline {
	text-transform: uppercase;
}

.btn-download .version {
	display: block;
	text-align: center;
	line-height: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #ddd;
}

/* Google site search styles */

.searchopts {
	font-size: 90%;
	margin-top: 0.5em;
}

.searchopts label {
	margin: 0 0.5em;
}

#searchresults .hint {
	color: #999;
	font-style: italic;
}

#searchresults .alert {
	color: #333;
	font-style: italic;
}

#searchresults .gs-result {
	margin-bottom: 1em;
}

#searchresults .gs-title * {
	color: #930F09;
}

.gs-watermark {
	display: none;
}

.gs-pagination a,
.gs-pagination span {
	margin-right: 4px;
}

.gs-visibleUrl {
	color: #008000;
	font-style: italic;
}

a.IndiegogoButton,
a.IndiegogoButton:visited {
	display: inline-block;
	font-family: "Benton Sans","Helvetica","sans-serif";
	font-weight: bold;
	padding: 4px 12px;
	color: #fff;
	background-color: #eb1478;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
}

a.FlattrButton + a.IndiegogoButton {
	margin-left: 1.5em;
	position: relative;
	top: -8px;
}
