---
layout: home
title: Roundcube - Free and Open Source Webmail Software
date: 2013-11-03T15:40:00Z
---

<div id="homescreen">
	<img id="homescreenshadow" src="images/homescreen_shadow.png" width="560" height="485" alt="" />
	<img id="homescreenshot" src="images/homescreen.jpg" width="510" height="346" style="" alt="screen of Roundcube webmail" />
</div>
<div id="releasedbadge" class="pngimage" ><span class="caps">Just Released</span> Version {% include version.txt %}</div>

<div id="rightcol">
	<h1>Roundcube webmail...</h1>
	<p>
		...is a browser-based multilingual IMAP client with an application-like user interface.
		It provides full functionality you expect from an email client, including MIME support,
		address book, folder manipulation, message searching and spell checking.
		<a href="/about">More information...</a>
	</p>
	
	<p style="height:46px">
		{% include downloadbutton.html %}
	</p>
	
	<h2>Features</h2>
	<ul>
		<li>Multilingual capabilities</li>
		<li>Find-as-you-type address book</li>
		<li>Richtext/HTML message composing</li>
		<li>Searching messages and contacts</li>
		<li>Canned response templates<span class="newtag">New!</span></li>
		<li>Int. domain names (IDNA)</li>
		<li>Shared folders and ACL</li>
		<li>Full featured address book</li>
		<li>Extensible using the Plug-in API</li>
	</ul>
	<a href="/about/#features">Complete list of features</a>
	
	<div style="text-align:left">
		<p class="poweredby">Powered by:</p>
		<a href="http://sourceforge.net/projects/roundcubemail"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=139281&type=12" alt="Get Roundcube Webmail at SourceForge.net." border="0" height="30" width="120" /></a>

		<p class="ohlohbadge">
			<script type="text/javascript" src="http://www.ohloh.net/p/240/widgets/project_thin_badge.js"></script>
		</p>
	</div>
	
</div>

