---
layout: home
title: Roundcube - Free and Open Source Webmail Software
date: 2019-11-20T13:20:00Z
---
<div id="banner" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center pt-2 pb-4 pb-md-0 pt-lg-5 pt-md-3">
                <img src="/images/logo.png" width="441" height="112" class="img-fluid" alt="Roundcube - open source webmail software">

                <div class="d-none d-md-block col mt-sm-3 mt-md-4 mt-xl-5 banner-download">
                    {% include downloadbutton.html %}
                </div>
            </div>
            <div class="col-md-6 text-center text-md-right mb-2 mb-md-0">
                <a href="/screens"><img src="/screens/skins/{{ site.data.screenshots | first | first }}/banner.png" width="647" height="390" class="img-fluid" alt="Welcome Roundcube Webmail"></a>
            </div>
        </div>
    </div>
</div>

<main class="flex-shrink-0 container pt-4 pb-5">
    <div class="alert alert-success" role="alert">
        <i class="fas fa-bullhorn"></i>
        <b>Roundcube 1.4.1 with responsive skin is out!</b>
        Read more about <a href="{% post_url 2019-11-09-roundcube-1.4.0-released %}">what's new</a>
        and <a href="/download#stable">get a fresh copy</a> now.
    </div>

    <h1>Roundcube webmail...</h1>
    <p class="mb-0">
        ...is a browser-based multilingual IMAP client with an application-like user interface.
        It provides full functionality you expect from an email client, including MIME support,
        address book, folder manipulation, message searching and spell checking.
        <a href="/about" class="rc-icon read-link">More information</a>
    </p>
    <div class="container">
        <div class="row">
            <div class="col d-block d-md-none mt-5">
                {% include downloadbutton.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 px-0">
                <h2>Features</h2>
                <ul>
                    <li>Drag-&amp;-drop message management</li>
                    <li>Full support for MIME and HTML messages</li>
                    <li>Multiple sender identities</li>
                    <li>Full featured address book with groups and LDAP connectors</li>
                    <li>Find-as-you-type address book integration</li>
                    <li>Threaded message listing</li>
                    <li>IDNA support</li>
                    <li>Spell checking</li>
                    <li>Responsive skin (multi-device support)</li>
                    <li>Shared/global IMAP folders</li>
                    <li>Support for access control lists (ACL)</li>
                    <li>Built-in caching for fast mailbox access</li>
                    <li>Unlimited users and messages</li>
                    <li>Import/export functions</li>
                    <li>Plug-in API for flexible extensions</li>
                    <li>XSS attack protection</li>
                    <li>Support for PGP encryption</li>
                </ul>

                <a href="/about/#features" class="rc-icon read-link">Complete list of features</a>
            </div>
            <div class="col-lg-5 mt-4 px-0">
                <div class="card">
                    <div class="card-header bg-dark">
                        <span class="text-white">Latest News</span>
                    </div>
                    <ul class="list-group list-group-flush ul-striped">
                        {% for post in site.posts limit:5 %}
                            <li class="list-group-item">
                                <a href="{{ post.url }}" class="newslink">{{ post.title }}</a><br>
                                <span class="postdate text-muted font-italic small">{{ post.date | date_to_long_string }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
