---
layout: home
title: Roundcube - Free and Open Source Webmail Software
date: 2018-08-25T13:20:00Z
---

<div id="banner" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center pt-2 pb-4 pt-lg-5 pt-md-3">
                <img src="/images/logo.png" width="441" height="112" class="img-fluid" alt="Roundcube - open source webmail software">

                <div class="d-none d-md-block col mt-lg-5 mt-md-4 banner-download">
                    {% include downloadbutton.html %}
                </div>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <a href="/screens"><img src="/images/banner.png" width="647" height="390" class="img-fluid" alt="Welcome Roundcube Webmail"></a>
            </div>
        </div>
    </div>
</div>

<main role="main" class="flex-shrink-0 container pt-4 pb-5">
    <div class="alert alert-success" role="alert">
        <i class="fas fa-bullhorn"></i>
        <b>Roundcube 1.4 is coming!</b>
        A new version of Roundcube is on the way.
        Read more about what's new <a href="/news/2018/08/25/roundcube-1.4-beta-released">here</a>
        and <a href="/news/2019/02/28/roundcube-1.4-rc1-released">here</a>
        or <a href="/download#beta">download&nbsp;1.4-rc1</a> now.</div>

    <h1>Roundcube webmail...</h1>
    <p>
        ...is a browser-based multilingual IMAP client with an application-like user interface.
        It provides full functionality you expect from an email client, including MIME support,
        address book, folder manipulation, message searching and spell checking.
        <a href="/about" class="read-link">More information</a>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-8 d-block d-md-none p-2">
                {% include downloadbutton.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Features</h2>
                <ul>
                    <li>Multilingual capabilities</li>
                    <li>Find-as-you-type address book</li>
                    <li>Richtext/HTML message composing</li>
                    <li>Searching messages and contacts</li>
                    <li>Canned response templates</li>
                    <li>Int. domain names (IDNA)</li>
                    <li>Shared folders and ACL</li>
                    <li>Full featured address book</li>
                    <li>Extensible using the Plug-in API</li>
                </ul>

                <a href="/about/#features" class="read-link">Complete list of features</a>
            </div>
            <div class="col-md-4 right-col">
                <div class="card">
                    <div class="card-header bg-dark">
                        <span class="text-white">Latest News</span>
                    </div>
                    <ul class="list-group list-group-flush ul-striped">
                        {% for post in site.posts limit:4 %}
                            <li class="list-group-item">
                                <a href="{{ post.url }}" class="newslink">{{ post.title }}</a><br>
                                <span class="postdate text-muted font-italic small">{{ post.date | date_to_long_string }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
