---
layout: default
title: Roundcube Webmail News
navtitle: News
lastmod: 2017-10-31T20:26:00Z
---
<div class="row">
    <div class="col-lg-8">
        <h1>The Roundcube Project News</h1>

        <div class="artical-list">
            {% for post in paginator.posts %}
            {% include newsitem.html %}
            {% endfor %}
        </div>

        <a class="btn btn-link {% if paginator.previous_page_path == nil %}disabled{% endif %} my-3 ml-lg-5" href="{{ paginator.previous_page_path }}" tabindex="-1"><i class="fas fa-angle-left"></i> Newer posts</a>
        <a class="btn btn-link {% if paginator.next_page_path == nil %}disabled{% endif %} float-right my-3 mr-lg-5" href="{{ paginator.next_page_path }}" tabindex="-1">Older posts <i class="fas fa-angle-right"></i></a>

        <p class="text-muted small d-none d-lg-block mt-4">Subscribe to the news <a href="/feeds/atom.xml" class="rc-icon rss-link" target="_blank">RSS Feed</a></p>
    </div>

    <div class="col-lg-4">
        <div class="row row-cols-1">
            <div class="col d-none d-lg-block my-3 mt-lg-0">
                <div class="card h-100">
                    <div class="card-header bg-dark">
                        <span class="text-white">Latest blog posts</span>
                    </div>
                    <ul class="list-group list-group-flush ul-striped">
                        {% for blog in site.data.blogs limit:5 %}
                            <li class="list-group-item">
                                <a href="{{ blog.url }}" class="rc-icon external-link" target="_blank">{{ blog.title }}</a><br>
                                {{ blog.excerpt }}<br>
                                <span class="postdate text-muted font-italic small">{{ blog.date | date_to_long_string }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col my-3">
                <div class="card h-100">
                    <div class="card-header bg-dark">
                        <span class="text-white">Tags</span>
                    </div>
                    <ul class="tags pt-1 px-2">
                        {% for tag in site.tags %}
                            <li class="float-left m-1"><a href="/news/{{ tag | first }}" class="rc-icon tag-link text-info">{{ tag | first }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
