<div class="rightboxgray">
	<img src="/images/mailview_small.jpg" width="224" height="155" alt="Mail view" /><br />
	<img src="/images/mailview_mirror.png" class="pngimage" width="224" height="58" alt="" />
	<p class="adboxtext" style="margin-top:-38px">
		Roundcube provides a streamlined user interface. The default skin includes icons
		designed by Stephen Horlander and Kevin Gerich for Mozilla.org.
	</p>
	<p style="margin-top:10px">
		<a href="screens" title="See more screen shots"><img src="/images/button_screenshots.png" width="150" height="43" alt="Screenshots" /></a>
</div>


