<div class="rightboxgray">
	<img src="/images/mailview_small.jpg" width="224" height="152" alt="Mail view" />
	<div class="reflection">
		<img src="/images/mailview_small.jpg" width="224" height="60" alt="" />
		<div class="overlay"></div>
	</div>
	<p class="adboxtext" style="margin-top:-38px">
		Roundcube provides a streamlined user interface designed by the professional screen
		designers at FLINT, Büro für Gestaltung, Switzerland
	</p>
	<p style="margin-top:10px">
    <a href="screens" class="btn btn-download" title="See more screen shots"><span class="caps">Screenshots</span></a>
</div>


