<div id="rightcol">

	<div class="rightboxgray">
		<h2>Donations are welcome!</h2>
		<p class="adboxtext">Roundcube webmail is free but your donations help motivate our developers to continue their great work.</p>
		
		{% include donatebutton.html %}

		<p class="adboxtext">Please also support the following platforms which provide good service to Roundcube as well as to other open source projects:</p>
		
		<p><a href="http://sourceforge.net/projects/roundcubemail"><img src="//sflogo.sourceforge.net/sflogo.php?group_id=139281&amp;type=12" alt="Get Roundcube Webmail at SourceForge.net." border="0" height="30" width="120" /></a></p>

		<p class="ohlohbadge">
			<script type="text/javascript" src="//www.openhub.net/p/240/widgets/project_thin_badge.js"></script>
		</p>
	</div>
<!--
	<div class="rightbox">
		<div class="rightboxtop"></div>
		<div class="rightboxcontent">
			<h1 style="margin-bottom:1em">Support our crowdfunding for the next generation Roundcube</h1>
			<iframe src="https://www.indiegogo.com/project/roundcube-next--2/embedded/222380" width="222px" height="445px" style="position:relative; left:0px" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
-->
</div>
