<footer class="footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="footer-links">
                    <li><a href="/support">Support</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="https://github.com/roundcube/roundcubemail/wiki/Howto-Report-Issues">Found a bug?</a></li>
                    <li><g:plusone size="small"></g:plusone></li>
                </ul>
            </div>
            <div class="col-sm-6 text-right d-none d-sm-block">
                <ul class="footer-links">
                    <li><script type="text/javascript" src="//www.openhub.net/p/240/widgets/project_thin_badge.js"></script></li>
                    {% include donatebutton.html %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Hosted by <a href="https://github.com"><i class="fab fa-github"></i> GitHub</a></p>
                <p>&copy; 2018 Roundcube.net, all rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
