<div id="footer">
		Hosted by <a href="http://sourceforge.net/">Sourceforge.net</a><br />
		<span>&copy; 2015 Roundcube.net, all rights reserved.</span>
		<span><a href="support">Support</a> &#x2022; <a href="contact">Contact</a> &#x2022; <a href="http://trac.roundcube.net/wiki/Howto_ReportIssues">Found a bug?</a></span>
		<span>Site design by <a href="http://bueroflint.com/" style="border:0"><img src="images/flint.png" class="pngimage" width="38" height="8" alt="FLINT - Büro für Gestaltung" /></a></span>
		<span style="padding-left:1em"><g:plusone size="small"></g:plusone></span>
</div>

<script type="text/javascript">
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
</script>
