<meta http-equiv="content-language" content="en" />
<meta name="author" content="hello [at] roundcube dot net" />
<meta name="copyright" content="Roundcube Webmail Dev Team" />
<meta name="robots" content="index,follow" />
<meta name="revisit-after" content="7 days" />
<base href="{{ site.baseurl }}" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="stylesheet" href="/css/styles.css" type="text/css" charset="utf-8" />
<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/css/iehacks.css" /><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/css/ie6hacks.css" /><![endif]-->

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" title="Roundcube News Feed" href="/feeds/atom.xml" />
<link href="https://plus.google.com/117198963145106512069" rel="publisher" />
