<meta http-equiv="content-language" content="en">
<meta name="author" content="hello [at] roundcube dot net">
<meta name="copyright" content="Roundcube Webmail Dev Team">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="7 days">
<meta name="theme-color" content="#343a40">
<meta name="msapplication-navbutton-color" content="#343a40">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-0c38nfCMzF8w8DBI+9nTWzApOpr1z0WuyswL4y6x/2ZTtmj/Ki5TedKeUcFusC/k" crossorigin="anonymous">
{% if site.environment == "dev" %}
<link rel="stylesheet/less" href="/styles/styles.less">
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
{% else %}
<link rel="stylesheet" href="/styles/styles.min.css">
{% endif %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="alternate" type="application/rss+xml" title="Roundcube News Feed" href="/feeds/atom.xml">
<link href="https://plus.google.com/117198963145106512069" rel="publisher">
<script>
    var host = '{{ site.enforce_ssl }}';
    if ((host == window.location.host) && (window.location.protocol != 'https:')) {
        window.location.protocol = 'https';
    }
</script>
