<meta http-equiv="content-language" content="en">
<meta name="author" content="hello [at] roundcube dot net">
<meta name="copyright" content="Roundcube Webmail Dev Team">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="7 days">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% if site.environment == "dev" %}
<link rel="stylesheet/less" href="/styles/styles.less">
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script>
{% else %}
<link rel="stylesheet" href="/styles/styles.min.css">
{% endif %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="alternate" type="application/rss+xml" title="Roundcube News Feed" href="/feeds/atom.xml">
<link href="https://plus.google.com/117198963145106512069" rel="publisher">
<script>
    var host = '{{ site.enforce_ssl }}';
    if ((host == window.location.host) && (window.location.protocol != 'https:')) {
        window.location.protocol = 'https';
    }
</script>