<div id="mainnav">
	<a href="/about/"{% if page.url contains 'about/' %} class="active"{% endif %}>About</a></li>
	<a href="/news/"{% if page.url contains 'news/' %} class="active"{% endif %}>News</a></li>
	<a href="/screens/"{% if page.url contains 'screens/' %} class="active"{% endif %}>Screenshots</a></li>
	<a href="/download/"{% if page.url contains 'download/' %} class="active"{% endif %}>Download</a></li>
	<a href="/support/"{% if page.url contains 'support/' %} class="active"{% endif %}>Support</a></li>
	<a href="/contribute/"{% if page.url contains 'contribute/' %} class="active"{% endif %}>Contribute</a></li>
</div>

