<li class="list-group-item">
    <a href="https://kolabian.wordpress.com/2019/05/23/tinymce-5/" class="external-link" target="_blank">TinyMCE 5</a><br>
    HTML editing functionality in Roundcube is provided by TinyMCE 4. Is the new TinyMCE 5 release ready for update?<br>
    <span class="postdate text-muted font-italic small">23 May 2019</span>
</li>

<li class="list-group-item">
    <a href="https://kolabian.wordpress.com/2019/01/23/instant-updates-aka-push-in-roundcube/" class="external-link" target="_blank">Instant updates aka Push</a><br>
    Roundcube’s user interface refreshes every now and then in a configured time interval. Can we have instant updates instead?<br>
    <span class="postdate text-muted font-italic small">23 January 2019</span>
</li>

<li class="list-group-item">
    <a href="https://kolabian.wordpress.com/2018/11/13/markasjunk-and-markasjunk2-plugins-merged/" class="external-link" target="_blank">Markasjunk and Markasjunk2 plugins merged</a><br>
    Very recently Roundcube’s built-in markasjunk plugin has been merged with the markasjunk2 plugin.<br>
    <span class="postdate text-muted font-italic small">13 November 2018</span>
</li>

<li class="list-group-item">
    <a href="https://kolabian.wordpress.com/2018/11/09/password-plugin-improvements/" class="external-link" target="_blank">Password plugin improvements</a><br>
    Thanks to work of Philip Weir (johndoh) Roundcube’s password plugin received a few new features.<br>
    <span class="postdate text-muted font-italic small">09 November 2018</span>
</li>

<li class="list-group-item">
    <a href="https://kolabian.wordpress.com/2018/09/24/elastic-improved-mail-composer/" class="external-link" target="_blank">Elastic: Improved mail composer</a><br>
    It has been noticed in the early usability tests of the new Elastic skin that mail composing page is not very user friendly.<br>
    <span class="postdate text-muted font-italic small">24 September 2018</span>
</li>

<li class="list-group-item">
    <a href="https://kolabian.wordpress.com/2018/09/08/managesieve-editheader-extension/" class="external-link" target="_blank">Managesieve `editheader` extension</a><br>
    There’s a lot of sieve extensions, recently I added support for another one: editheader.<br>
    <span class="postdate text-muted font-italic small">08 September 2018</span>
</li>
