<h2 class="inboxtitle">Latest posts from the <a href="http://roundcubeinbox.wordpress.com">Roundcube&nbsp;Inbox</a> blog</h2>

<div class="newsitem">
	<span class="newsdate">March 11, 2013</span>
	<h3><a href="http://roundcubeinbox.wordpress.com/2013/03/11/the-kolab-story/" class="newslink">The Kolab story</a></h3>
	<p class="newstext">Today I’d like to share a success story of a picture perfect project collaboration as it only happens in the open source world without any commercial, political or geographical borders. It all started back in 2009 ...
		&nbsp;<em><a href="http://roundcubeinbox.wordpress.com/2013/03/11/the-kolab-story/">read&nbsp;more</a></em></p>
</div>
<div class="newsitem">
	<span class="newsdate">May 09, 2012</span>
	<h3><a href="http://roundcubeinbox.wordpress.com/2012/05/09/migrating-our-subversion-repository-to-github/" class="newslink">Migrating our subversion repository to github</a></h3>
	<p class="newstext">We recently moved our svn repository to git hosted at github. Now I'd like to share my experience doing that migration and explain the steps we took to do so.
		&nbsp;<em><a href="http://roundcubeinbox.wordpress.com/2012/05/09/migrating-our-subversion-repository-to-github/">read&nbsp;more</a></em></p>
</div>
<div class="newsitem">
	<span class="newsdate">September 28, 2011</span>
	<h3><a href="http://roundcubeinbox.wordpress.com/2011/09/28/the-new-face-of-roundcube/" class="newslink">Say hello to the new face of Roundcube</a></h3>
	<p class="newstext">We're very happy to give you a first preview of the all new skin for Roundcube webmail. It was created by FLINT, the very talented graphic designer who already designed our website. He worked hundreds of hours for free ...
		&nbsp; <em><a href="http://roundcubeinbox.wordpress.com/2011/09/28/the-new-face-of-roundcube/">read&nbsp;more</a></em></p>
</div>
<div class="newsitem">
	<span class="newsdate">December 17, 2010</span>
	<h3><a href="http://roundcubeinbox.wordpress.com/2010/12/17/roundcube-sensational-dec-2010/" class="newslink">“Roundcube = Sensational” – December 2010</a></h3>
	<p class="newstext">So nice... we really appreciate messages like that.&nbsp;
		<em><a href="http://roundcubeinbox.wordpress.com/2010/12/17/roundcube-sensational-dec-2010/">read&nbsp;more</a></em></p>
</div>
