<h2 class="inboxtitle">Latest posts from the planet Roundcube blogs</h2>

<div class="newsitem">
	<span class="newsdate">23 November 2017</span>
	<h3><a href="https://kolabian.wordpress.com/2017/11/23/elastic-core-functionality-covered/" class="newslink">Elastic: Core functionality covered</a></h3>
	<p class="newstext">Still in a need of a graphic designer! I’m finishing work on core functionality for the new Roundcube theme.
			&nbsp;<em><a href="https://kolabian.wordpress.com/2017/11/23/elastic-core-functionality-covered/">read&nbsp;more</a></em></p>
</div>

<div class="newsitem">
	<span class="newsdate">23 September 2017</span>
	<h3><a href="https://kolabian.wordpress.com/2017/09/23/elastic/" class="newslink">Elastic</a></h3>
	<p class="newstext">It’s not a secret that I’m working on a new Roundcube theme. It’s supposed to provide a responsive interface for desktop, tables and phones.
			&nbsp;<em><a href="https://kolabian.wordpress.com/2017/09/23/elastic/">read&nbsp;more</a></em></p>
</div>

<div class="newsitem">
	<span class="newsdate">20 April 2017</span>
	<h3><a href="https://kolabian.wordpress.com/2017/04/20/email-recipient-input-widget/" class="newslink">Recipient input widget</a></h3>
	<p class="newstext">It is more user friendly and usable especially on mobile to handle recipient addresses as boxes.
			&nbsp;<em><a href="https://kolabian.wordpress.com/2017/04/20/email-recipient-input-widget/">read&nbsp;more</a></em></p>
</div>

<div class="newsitem">
	<span class="newsdate">27 December 2016</span>
	<h3><a href="https://kolabian.wordpress.com/2016/12/27/sieve-raw-editor/" class="newslink">Sieve raw editor</a></h3>
	<p class="newstext">Thanks to great CodeMirror editor and its built-in syntax highlighter we now have a nice editor widget for Sieve scripts.
		&nbsp;<em><a href="https://kolabian.wordpress.com/2016/12/27/sieve-raw-editor/">read&nbsp;more</a></em></p>
</div>

<div class="newsitem">
	<span class="newsdate">16 December 2016</span>
	<h3><a href="https://kolabian.wordpress.com/2016/12/16/sending-contacts-as-vcards/" class="newslink">Sending contacts as vCards</a></h3>
	<p class="newstext">There’s a lot about vCards in Roundcube. No surprise, this is simple and established open standard.
		&nbsp;<em><a href="https://kolabian.wordpress.com/2016/12/16/sending-contacts-as-vcards/">read&nbsp;more</a></em></p>
</div>

<div class="newsitem">
	<span class="newsdate">11 December 2016</span>
	<h3><a href="https://kolabian.wordpress.com/2016/12/11/vcard-in-qr-code/" class="newslink">vCard in QR code</a></h3>
	<p class="newstext">Another small feature that will be available in Roundcube 1.3.
		&nbsp;<em><a href="https://kolabian.wordpress.com/2016/12/11/vcard-in-qr-code/">read&nbsp;more</a></em></p>
</div>

<div class="newsitem">
	<span class="newsdate">02 December 2016</span>
	<h3><a href="https://kolabian.wordpress.com/2016/12/02/contact-identicons/" class="newslink">Contact identicons</a></h3>
	<p class="newstext">Identicons (avatars, sigils) are meant to give a recognizable image that identifies specified entity
		&nbsp;<em><a href="https://kolabian.wordpress.com/2016/12/02/contact-identicons/">read&nbsp;more</a></em></p>
</div>

<div class="newsitem">
	<span class="newsdate">10 October 2016</span>
	<h3><a href="https://kolabian.wordpress.com/2016/10/10/mark-all-as-read-option/" class="newslink">"Mark all as read" option</a></h3>
	<p class="newstext">It was already possible to mark selected messages as read, but it required a few clicks.
		&nbsp;<em><a href="https://kolabian.wordpress.com/2016/10/10/mark-all-as-read-option/">read&nbsp;more</a></em></p>
</div>
