---
layout: default
title: Roundcube Webmail Screenshots
navtitle: Screenshots
screenshots: [
    { "file": "mailbox.png", "title": "Three-paned mailbox view" },
    { "file": "viewmail.png", "title": "Message viewer with privacy protection" },
    { "file": "cnmailbox.png", "title": "Multilingual display" },
    { "file": "compose.png", "title": "Compose HTML mails with attachments" },
    { "file": "addressbook.png", "title": "Address book with LDAP integration" },
    { "file": "editcontact.png", "title": "Extensible contact management form" },
    { "file": "settings.png", "title": "Versatile user settings" },
    { "file": "folders.png", "title": "Easy IMAP folder management" },
    { "file": "identities.png", "title": "Sender identities with signature" },
    { "file": "enigma.png", "title": "Plugins like Engima for signing and encrypting emails" },
    { "file": "managesieve.png", "title": "...or Managesieve filter configuration" }
]
---
<h1>Impressions of Roundcube's User Interface</h1>

<ul id="screenshots" class="screens text-center text-lg-left p-0 w-100">
    {% for screenshot in page.screenshots %}
        <li class="m-1 d-inline-block"><a href="#" data-toggle="modal" data-target="#viewer"><img src="/images/thumbs/{{ screenshot.file }}" width="140" height="97" class="img-thumbnail" alt="{{ screenshot.title }}"></a></li>
    {% endfor %}
</ul>

<div id="viewer" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-transparent">
            <div class="modal-body text-center p-0"></div>
            <div class="modal-footer bg-dark justify-content-start">
                <p class="text-white"></p>
            </div>
        </div>
    </div>
</div>

<script>
    $('#viewer').on('show.bs.modal', function(e) {
        var source = $(e.relatedTarget);
        var url = source.children('img').attr('src');
        url = url.replace('/thumbs/', '/screens/');

        var content = $('<img>')
            .addClass('img-fluid')
            .attr('src', url)
            .hide()
            .on('load', function() {
                $('#modal-loading').hide();
                $(this).show();
            });

        $(this).find('.modal-body').html("<div id='modal-loading' class='text-center py-5'><i class='fas fa-circle-notch fa-spin'></i></div>").append(content);
        $(this).find('.modal-body').append("<div class='modal-arrow p-2 d-flex align-items-center left-arrow'><a href='#' onclick=\"move_screen('prev'); return false;\" class='fas fa-chevron-left text-secondary'></a></div>");
        $(this).find('.modal-body').append("<div class='modal-arrow p-2 d-flex align-items-center right-arrow'><a href='#' onclick=\"move_screen('next'); return false;\" class='fas fa-chevron-right text-secondary'></a></div>");
        $(this).find('.modal-footer > p').text(source.children('img').attr('alt'));
        $(this).data('cur-index', source.parent().index());
    });

    $(document).on('keyup', function(e) {
        if ($('.modal-content').is(':visible')) {
            if (e.which === 37) { // left
                move_screen('prev');
            }
            else if (e.which === 39) { // right
                move_screen('next');
            }
        }
    });

    function move_screen(direction) {
        var current = $('#viewer').data('cur-index');
        var target = 0;

        if (direction == 'prev') {
            target = (current === 0) ? ($('#screenshots > li').length - 1) : (current - 1);
        }
        else {
            target = (current === ($('#screenshots > li').length - 1)) ? 0 : (current + 1);
        }

        $('#viewer').modal('hide');
        $('#screenshots > li:eq(' + target+ ') > a').trigger('click');
    }
</script>

<div class="clearfix"></div>

<br>

<h2>Seen enough?</h2>

<p>Download the source and install Roundcube on a standard <a href="https://en.wikipedia.org/wiki/LAMP_%28software_bundle%29" class="external-link" target="_blank">LAMP</a> server.</p>

{% include downloadbutton.html %}