---
layout: default
title: Roundcube Webmail Screenshots
navtitle: Screenshots
---
<h1>Impressions of Roundcube's User Interface</h1>

{% for skin in site.data.screenshots %}
    {% if skin.devices.size > 1 %}
        <ul class="nav nav-tabs" role="tablist">
            {% for device in skin.devices %}
                <li class="nav-item">
                    <a class="nav-link text-capitalize {% if forloop.first %} active {% endif %}" id="{{ skin.dir }}-{{ device }}-tab" data-toggle="tab" href="#{{ skin.dir }}-{{ device }}" role="tab" aria-controls="{{ skin.dir }}-{{ device }}" aria-selected="true">{{ device }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="tab-content">
        {% for device in skin.devices %}
            <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="{{ skin.dir }}-{{ device }}" role="tabpanel" aria-labelledby="{{ skin.dir }}-{{ device }}-tab">
                <ul id="screenshots-{{ skin.dir }}-{{ device }}" class="screens text-center text-lg-left p-0 w-100 mt-3">
                    {% for screenshot in skin.screenshots %}
                        <li class="m-1 d-inline-block"><a id="screenshots-{{ skin.dir }}-{{ device }}-{{ forloop.index }}" href="#" title="{{ screenshot.title }}" data-toggle="modal" data-target="#viewer"><img src="/screens/skins/{{ skin.dir }}/{{ device }}/thumbs/{{ screenshot.file }}" width="140" height="97" class="img-thumbnail" alt="{{ screenshot.title }}"></a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endfor %}

<div id="viewer" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content bg-transparent">
            <div class="modal-body text-center p-0">
                <div id='modal-loading' class='text-center py-5'><i class='fas fa-circle-notch fa-spin'></i></div>
                <img src='#' style='display: none;' class='img-fluid' onload='screen_loaded(this);'>
                <div class='modal-arrow p-2 d-flex align-items-center left-arrow'><a href='#' onclick="move_screen('prev'); return false;" class='fas fa-chevron-left text-secondary'></a></div>
                <div class='modal-arrow p-2 d-flex align-items-center right-arrow'><a href='#' onclick="move_screen('next'); return false;" class='fas fa-chevron-right text-secondary'></a></div>
            </div>
            <div class="modal-footer bg-dark justify-content-start">
                <p class="text-white mb-0"></p>
            </div>
        </div>
    </div>
</div>

<script>
    var viewer = document.getElementById('viewer');
    $('#viewer').on('show.bs.modal', function(e) {
            var source = e.relatedTarget;
            var screen = source.querySelector('img');

            this.querySelector('.modal-body > img').src = screen.getAttribute('src').replace('/thumbs/', '/screens/');
            this.querySelector('.modal-footer > p').textContent = screen.getAttribute('alt');
            this.setAttribute('data-cur-index', source.id.replace(/^screenshots-[a-z]+-[a-z]+-/, ''));
            this.setAttribute('data-cur-source', source.id.replace(/-[0-9]+$/, ''));
        })
        .on ('hidden.bs.modal', function(e) {
            var screen = this.querySelector('.modal-body > img');
            screen.style.display = 'none';
            screen.src = '#';

            document.getElementById("modal-loading").style.display = 'block';
            this.querySelector('.modal-footer > p').textContent = '';
            this.setAttribute('data-cur-index', '');
            this.setAttribute('data-cur-source', '');
        });

    document.addEventListener('keyup', function(e) {
        // Is the modal viewer open?
        if (document.getElementById('viewer').offsetParent) {
            if (e.which === 37) { // left
                move_screen('prev');
            }
            else if (e.which === 39) { // right
                move_screen('next');
            }
        }
    });

    function screen_loaded(img) {
        document.getElementById('modal-loading').style.display = 'none';
        img.style.display = 'block';
    }

    function move_screen(direction) {
        var source = viewer.getAttribute('data-cur-source');
        var current = parseInt(viewer.getAttribute('data-cur-index'));
        var total = document.getElementById(source).getElementsByTagName('li').length;
        var target = 0;

        if (direction == 'prev') {
            target = (current === 1) ? total : (current - 1);
        }
        else {
            target = (current === total) ? 1 : (current + 1);
        }

        $('#viewer').modal('hide');
        document.getElementById(source + '-' + target).click();
    }
</script>

<div class="clearfix"></div>

<br>

<h2>Seen enough?</h2>

<p>Download the source and install Roundcube on a standard <a href="https://en.wikipedia.org/wiki/LAMP_%28software_bundle%29" class="external-link" target="_blank">LAMP</a> server.</p>

{% include downloadbutton.html %}