<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>

    <meta name="keywords" content="round,cube,roundcube,webmail,email,mail,client,software,solution,application,imap,php,open source,free,github,development">
    <meta name="description" content="Free and open source webmail software for the masses, written in PHP">

    {% include head.html %}
</head>
<body class="d-flex flex-column h-100">

{% include nav.html %}

<main class="flex-shrink-0 container pb-5">

<div class="row">
    <div class="col-lg-8">
        <h1>{{ page.title }}</h1>

        <div class="mb-3 text-muted fst-italic small">
            <p class="mb-0">Published: {{ page.date | date_to_long_string }}</p>

            {% if page.tags.size > 0 %}
                <ul class="mb-0 list-inline">
                    <li class="me-1 list-inline-item">Tags:</li>
                    {% for tag in page.tags %}
                        <li class="me-1 list-inline-item"><a href="/news/{{ tag }}"><span class="badge rounded-pill bg-light text-secondary">{{ tag }}</span></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {{ content }}

        <a href="/news/" class="rc-icon back-link d-block mt-4">Return to News overview</a>
    </div>

    <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="card">
            <div class="card-header bg-dark">
                <span class="text-white">Related Posts</span>
            </div>
            <ul class="list-group list-group-flush ul-striped">
                {% for rel in site.related_posts limit: site.num_related_items %}
                    <li class="list-group-item"><a href="{{ rel.url }}">{{ rel.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</main>

{% include footer.html %}

</body>
</html>
