<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>

    <meta name="keywords" content="round,cube,roundcube,webmail,email,mail,client,software,solution,application,imap,php,open source,free,github,development">
    <meta name="description" content="Free and open source webmail software for the masses, written in PHP">

    {% include head.html %}
</head>
<body class="d-flex flex-column h-100">

{% include nav.html %}

<main role="main" class="flex-shrink-0 container pb-5">

<div class="row">
    <div class="col-md-8">
        <h1>{{ page.title }}</h1>

        <ul class="tags m-0 px-0 clearfix">
            {% for tag in page.tags %}
                <li class="float-left m-1"><a href="/news/{{ tag }}" class="tag-link text-info">{{ tag }}</a></li>
            {% endfor %}
        </ul>

        <p class="text-muted font-italic">{{ page.date | date_to_long_string }}</p>

        {{ content }}

        <a href="/news/" class="back-link d-block mt-4">Return to News overview</a>
    </div>

    <div class="col-md-4 right-col">
        <div class="card">
            <div class="card-header bg-dark">
                <span class="text-white">Related Posts</span>
            </div>
            <ul class="list-group list-group-flush ul-striped">
                {% for rel in site.related_posts %}
                    <li class="list-group-item"><a href="{{ rel.url }}">{{ rel.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</main>

{% include footer.html %}

</body>
</html>
