<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>

    <meta name="keywords" content="round,cube,roundcube,webmail,email,mail,client,software,solution,application,imap,php,open source,free,github,development">
    <meta name="description" content="Free and open source webmail software for the masses, written in PHP">

    {% include head.html %}
</head>
<body>

{% include nav.html %}

<main role="main" class="container">

{{ content }}

<div class="clearfooter"></div>

</main>

{% include footer.html %}

</body>
</html>
