@color-dark-primary: darken(@color-primary, 30%);
@color-dark-background: #0d1117;
@color-dark-background-alt: lighten(@color-dark-background, 4%);
@color-dark-header-background: #000;
@color-dark-border: #666;
@color-dark-font: #c5d1d3;
@color-dark-link: #98c1ff;
@color-dark-banner-background: @color-dark-background-alt;
@color-dark-thumbnail-background: @color-dark-background-alt;
@color-dark-footer: #fff;
@color-dark-footer-background: @color-dark-header-background;
@color-dark-success: darken(#d4edda, 65%);
@color-dark-warning: darken(#fff3cd, 65%);
@color-dark-danger: darken(#dc3545, 20%);

html.dark-mode {
  --bs-link-color: @color-dark-link;
  --bs-link-hover-color: @color-dark-link;
  --bs-body-color: @color-dark-font;
  --bs-body-bg: @color-dark-background;

  .nav-tabs {
    --bs-nav-tabs-border-color: @color-dark-border;
  }

  .list-group {
    --bs-list-group-color: @color-dark-font;
    --bs-list-group-bg: @color-dark-background;
    --bs-list-border-color: @color-dark-border;
  }

  .card {
    --bs-card-color: @color-dark-font;
    --bs-card-bg: @color-dark-background;
    --bs-card-border-color: @color-dark-border;
  }

  .card-header {
    border-bottom: 0;
  }

  .table {
    --bs-table-color: @color-dark-font;
    --bs-table-striped-bg: @color-dark-background-alt;
    --bs-table-border-color: darken(@color-dark-background, 5%);
  }

  blockquote {
    background-color: @color-dark-background-alt;
  }

  .text-dark,
  a.text-dark:hover {
    color: @color-dark-font !important;
  }

  .text-muted,
  .text-black-50 {
    color: fadeout(@color-dark-font, 40%) !important;
  }

  .bg-light {
    background-color: @color-dark-background-alt !important;
  }

  .bg-dark {
    background-color: @color-dark-header-background !important;
  }

  .nav-tabs .nav-link {
    &.active {
      background-color: @color-dark-background;
      color: @color-dark-font;
      border-color: @color-dark-border @color-dark-border @color-dark-background;
    }

    &:not(.active):focus,
    &:not(.active):hover {
      border-color: fadeout(@color-dark-border, 50%) fadeout(@color-dark-border, 50%) @color-dark-border;
    }
  }

  .artical-list > .artical,
  ul.ul-striped li {
    color: @color-dark-font;
    background-color: @color-dark-background;

    &:nth-child(even) {
      background-color: @color-dark-background-alt;
    }
  }

  nav li.dark-mode {
    display: none;
  }

  #banner {
    background-color: @color-dark-banner-background;

    .text-muted {
      color: tint(@color-dark-banner-background, 50%) !important;
    }
  }

  .btn-rc-download {
    background-color: @color-dark-primary;
    border-color: @color-dark-primary;

    &:hover {
      background-color: darken(@color-dark-primary, 5%);
      border-color: darken(@color-dark-primary, 7%);
    }
  }

  .alert-success {
    color: var(--bs-white);
    background-color: shade(@color-dark-success, 30%);
    border-color: @color-dark-success;
  }

  .alert-warning {
    color: tint(@color-dark-warning, 75%);
    background-color: shade(@color-dark-warning, 30%);
    border-color: @color-dark-warning;
  }

  .alert-danger {
    color: var(--bs-white);
    background-color: shade(@color-dark-danger, 30%);
    border-color: @color-dark-danger;
  }

  .footer {
    background-color: @color-dark-footer-background;
    color: @color-dark-footer !important;

    a {
      color: @color-dark-footer;

      &:focus,
      &:hover {
        color: darken(@color-dark-footer, 15%);
      }
    }
  }

  li.color-mode {
    &.light {
      display: none;
    }
  }

  .img-thumbnail {
    background-color: @color-dark-background;
    border-color: @color-dark-border;

    > a {
      background-color: @color-dark-thumbnail-background;
    }
  }
}